<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather App</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="css/font/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/dacdaeeb0c/UntitledProject/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc5x5V3fNIhGT6zYtuXluoYQi12xfv_QU"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/main.js"></script>


</head>
<body ng-app="app">



    <div id="map"></div>
    <div class="map-overlay"></div>

    <div ng-controller="weather">
        <div class="weather-widget" ng-class="{'ready': weather.cod == 200}">

            <div class="loading" ng-hide="weather.cod == 200">
                    <div class="circle1 circle"></div>
                    <div class="circle2 circle"></div>
                    <div class="circle3 circle"></div>
                </div><!-- loading -->

            <div class="weather-icon-holder">
                    <span class="icon-{{weather.weather[0].icon}}"></span>
                </div><!-- weather-icon-holdert -->

            <div class="weather-details">
                    <h1>{{weather.main.temp | rounded}}°</h1>
                    <p>Humidity: <span>{{weather.main.humidity | rounded}}%</span></p>
                    <p>Wind Speed:<span>{{weather.wind.speed | rounded}} mph</span></p>
                </div><!-- weather-details -->

            <div class="clearfix"></div>
            <div class="loc-holder">

                    <div class="loc-details">
                        <h1>{{weather.name}}</h1>
                        <p>{{weather.weather[0].description}}</p>
                    </div><!-- loc-details -->

                    <div class="loc-search">
                        <form ng-submit="getweather()" class="search-form">
                            <div class="form-group" ng-class="{'active': showSearch}">
                                <input type="text" class="form-control"  id="address-input" ng-model="address" placeholder="Enter City Or Zip Code">
                                <a href="#" ng-click="showSearch = false"  class="close-btn"><i class="icon-close"></i></a>
                            </div>
                            <a href="#" ng-click="getweather()" class="search-btn"><i class="icon-search"></i></a>
                        </form>

                    </div><!-- loc-search -->

                </div><!-- loc-holder-->

        </div><!-- weather-widget -->
    </div><!-- weather -->


</body>
</html>
